<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>


  <form [formGroup]="form" (ngSubmit)="submit()">
    <ion-stepper #stepper [(selectedIndex)]="selectedIndex" [mode]="mode" (selectIndexChange)="selectChange($event)">
      <div *ngFor="let step of steps; let index = index; let last = last;">
        <ion-step [label]="step.label" [description]="step.label">
          <formly-form
            [form]="form.at(index)"
            [model]="model"
            [fields]="step.fields"
            [options]="options[index]">
          </formly-form>

          <div>
            <button ion-button *ngIf="index !== 0" ionicStepperPrevious class="btn btn-primary" type="button" (click)="prevStep(index)">Back</button>
            <button ion-button *ngIf="!last" ionicStepperNext class="btn btn-primary" type="button" [disabled]="!form.at(index).valid" (click)="nextStep(index)">Next</button>
            <button ion-button *ngIf="last" class="btn btn-primary" [disabled]="!form.valid" type="submit">Submit</button>
          </div>
        </ion-step>
      </div>

    </ion-stepper>
  </form>

  {{result}}

</ion-content>
